*{
    margin: 0;
    padding: 0;
    background: rgb(236, 231, 211);
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90dvh;
}
h1{
    font-size: 60px;
    margin: 40px;
}
h2{
    font-size: 45px;
    margin: 20px;
}
button{
    margin: 40px;
    width: 130px;
    height: 60px;
    font-size: 25px;
    border: 2px solid;
    border-radius: 15px;
    cursor: pointer;
    background: none;
    
}