* {
    margin: 0;
    padding: 0;
     font-family: "Bai Jamjuree", sans-serif;
}

body {
    font-size: 120%;
    background: #f8f8f8;
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #473757;
    text-align: center;
    border: 1px solid #b0c4de;
    border-bottom: none;
    border-radius: 10px ;
    padding: 20px;
}

form {
    width: 30%;
    margin: 0 auto;
    padding: 20px 0 20px 20px;
    border: 1px solid #b0c4de;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.homeheader {
    text-align: center;
    font-size: 5rem;
}

.homecontent {
    text-align: center;
    padding-top: 3rem;
    width: 100%;
    background: #ccc;
    height: 100vh;
}






.input-groupTop {
    margin: 10px 0px 10px 0px;
    display: flex;  
}


.input-groupTop label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-groupTop input {
    height: 30px;
    width: 90%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}











.input-group {
    margin: 10px 0px 10px 0px;
    display: flex;  
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.fa-regular{
    margin: 12px 0 0 5px;
    color: white;
}
.input-group input {
    height: 30px;
    width: 90%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.iconn{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;

}
.fa-eye-slash{   
        margin: 12px 2px 0 5px;
}
.fa-solid{
        margin: 12px 2px 0 5px;
 
}



.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #FF3366;
    border: none;
    border-radius: 5px;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
.success {
    color: #3c763d;
    background: #dff9d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}
@media (max-width: 799px) {
    .header {
        width: 50%;
        margin: 50px auto 0px;
        color: white;
        background: #473757;
        text-align: center;
        border: 1px solid #b0c4de;
        border-bottom: none;
        border-radius: 10px ;
        padding: 20px;
    }
    
    form {
        width: 50%;
        margin: 0 auto;
        padding: 20px 0 20px 20px;
        border: 1px solid #b0c4de;
        background: white;
        border-radius: 0px 0px 10px 10px;
    }
    
   
    .input-group input {
        height: 30px;
        width: 87%;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid gray;
    }
}
@media (max-width: 399px) {
    .header {
        width: 80%;
        margin: 50px auto 0px;
        color: white;
        background: #473757;
        text-align: center;
        border: 1px solid #b0c4de;
        border-bottom: none;
        border-radius: 10px ;
        padding: 20px;
    }
    
    form {
        width: 80%;
        margin: 0 auto;
        padding: 20px 0 20px 20px;
        border: 1px solid #b0c4de;
        background: white;
        border-radius: 0px 0px 10px 10px;
    }
    
   
    .input-group input {
        height: 30px;
        width: 87%;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid gray;
    }
}