*{
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 300px;
}

img{ 
    margin: 10px;
    width: 70px;
    height: 70px;
}
.nav_bar{
    top: 0;
    position: sticky;
    background: #473757;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0 30px ;
    
}
.bar{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.h1{
    font-size:29px ;
    cursor: pointer;
    margin: 30px;
    color: #BBBBBB;
}
.h1l{

        font-size:29px ;
        cursor: pointer;
        margin: 30px;
        color: #FFFFFF;
}
.HP{
    color: #BBBBBB;
    text-decoration: none;
}

.HP:hover{
    color: #EE92A9;
}





.info{
    height: 110vh;
    text-align: center;
    align-content: center;
    justify-content: center;
    background: #D3B3F1;
}

.info h1{
    color: #8C41D4;
    font-size: 96px;
}

.info h2{
    color: #FF3366;
    font-size: 64px;
}


.info img{
    border-radius: 40px;
    background: #000;
    width: 754px;
    height: 750px;
}









.end_home{
    padding: 0 30px ;
    display: flex;
    align-content: center;
    justify-content: space-between   ;
    align-items: center;
    background: #473757;
}
.end_home img{
    
    width: 70px;
    height: 70px;
}
.end_home p {
    color: #FFFFFF;
    margin: 25px;
}