*{
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 300px;
}

img{ 
    margin: 10px;
    width: 70px;
    height: 70px;
}
.nav_bar{
    top: 0;
    position: sticky;
    background: #473757;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0 30px ;
    
}






.bar{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.h1{
    font-size:29px ;
    cursor: pointer;
    margin: 30px;
    color: #BBBBBB;
}
.h1l{

    font-size:29px ;
    cursor: pointer;
    margin: 30px;
    color: #FFFFFF;
}
.HP{
    color: #BBBBBB;
    text-decoration: none;
}
.HP:hover{
    color: #EE92A9;
}


.h{
    background: #F5F5F5;
    padding: 30px 0;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.prod{
    padding: 50px 0 ;
    
}
.prod h1 {
    font-size: 74px;
    color: #363636;
}
.prod p {
    padding: 30px 0 0 15px;
    font-size: 40px ;
    color: #363636;
}

.btn_pro{
    display: flex;
    align-content: center;
    
}

.cp1{
    text-align: center;
    display: flex;
    
    justify-content: center;
}

.red_{
    width: 68px;
    height: 68px;
    border-radius: 100px;
    background: red;
}

.black_{
    width: 68px;
    height: 68px;
    border-radius: 100px;
    background: black;
}


.cp2{
    text-align: center;
    display: flex;
    justify-content: center;

}

.green_{
    width: 68px;
    height: 68px;
    border-radius: 100px;
    background: green;
}

.blue_{
    width: 68px;
    height: 68px;
    border-radius: 100px;
    background: blue;
}


.btn1{
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    width: 257px;
    height: 170px;
    background:#FFFFFF;
    border: solid #D3B3F1 2px;
    border-radius: 24px;


}

.btn1:hover{
    border: solid #D3B3F1 6px;
}
.btn1:active{
    border: solid rgb(211, 179, 221) 6px;
    background: rgb(255, 255, 245);


}

.img_p{
display: flex;
flex-direction: column;
gap:25px ;



}
.img_pro{
  
    width: 565px;
    height: 537px;
    
    border-radius:100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.h_img_mim{
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.img_mim{
    margin: 0;
    width: 108px;
    height: 107px;
    background: #D9D9D9;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
 
}

.img_mim img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    object-position: center;
   
    
}
.img_mim:hover{

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.maydo{
    display: flex;
    align-content: center;
    justify-content: space-around;
    background: #F5F5F5;
    padding: 20px 0;
}
.pen_Custom div{
    margin: 30px 10px 10px 10px;
}

.pen_Custom p{
    
    font-size: 36px;
    color: #363636;
}



.btn_Custom{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.btn_Custom button{

    width: 550px;
    height: 95px;
    border: none;
    border-radius: 24px;
    font-size: 40px;
    color: #363636;
    background: #D3B3F1;
    cursor: pointer;
}
.btn_Custom button:hover{

    border: solid 6px #EE92A9;
}

.btn_Custom button:active{
    background: rgb(211, 179, 221);
    border: solid 6px rgb(238, 146, 149);
}
.btn_Custom button:active{
    background: rgb(211, 179, 221);
    border: solid 6px rgb(238, 146, 129);
}
.PP{
    min-height: 120px;
    height: 200px;
    width: 565px;
    padding: 20px;
    color: #363636;
    font-size: 29px;
    margin: 180px 30px ;
}

.Buynow{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px;
    background: #D3B3F1;
}

.Buynow button{
    width: 490px;
    height: 115px;
    border: none;
    border-radius: 45px ;
    font-size: 40px ;
    background: #EE92A9;
}

.Buynow button:hover{
    border: 2px solid #A6EBE5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}






.end_home{
    padding: 0 30px ;
    display: flex;
    align-content: center;
    justify-content: space-between   ;
    align-items: center;
    background: #473757;
}
.end_home img{
    
    width: 70px;
    height: 70px;
}
.end_home p {
    color: #FFFFFF;
    margin: 25px;
}